{% extends "layout.html" %}
{% block content %}
    <h1>About us</h1>
    <p>We are team Adroit. We are providing helps to women homeless who suffering financial abuse.</p>
    <h3>Team Description</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-3" >
                <img src="/static/img/gaurav.jpg" class="center-block img-fluid"/>
                <p>Gaurav</p>
                <p>Major: Master of Business Information Systems(MBIS)</p>
                <p>Team Role: Business Analyst</p>
                <p>Technical Skills: User Interface, Designing</p>
                <p>Expertise (Expected to do): Develop Reports, Assign work</p>
            </div>
            <div class="col-sm-3">
                <img src="/static/img/lynn.jpg" class="center-block img-fluid"/>
                <p>Shiyao Liu (Lynn)</p>
                <p>Major: Master of Business Information Systems(MBIS)</p>
                <p>Team Role: UI and analyst</p>
                <p>Technical skills: UI design, write a report, PPT</p>
                <p>Expertise (Expected to do): Good at designing the user interface and analyzing problems.</p>
            </div>
            <div class="col-sm-3">
                <img src="/static/img/leno.jpg" class="center-block img-fluid"/>
                <p>Xiaomeng Huang (Leno)</p>
                <p>Major:Master of Data Science (MDS)</p>
                <p>Team Role: Data Science</p>
                <p>Technical skills: Machine learning, build statistic model, data cleaning/mining</p>
                <p>Expertise (Expected to do): Data Cleaning, Mining, analysis and building modes</p>
            </div>
            <div class="col-sm-3">
                <img src="/static/img/paul.jpg" class="center-block img-fluid"/>
                <p>Xuejin Huang (Paul)</p>
                <p>Major: Master of Information Technology (MIT)</p>
                <p>Team Role: Information technology</p>
                <p>Technical skills: Java, Python, R, HTML</p>
                <p>Expertise (Expected to do): Web Development</p>
            </div>
        </div>
    </div>
{% endblock content %}
